:root {
	--main-content-padding-horizontal: 8rem;
	--border-radius: 3rem;
	--main-content-width: 100%;
	--main-content-maxwidth: 118rem;
	--navbar-height: 12rem;
	--sign-nav-height: 18rem;
	--sign-max-width: 120rem;
}

@include breakpoint(tablet) {
	:root {
		--main-content-padding-horizontal: 2.7rem;
		--main-content-width: 100%;
		--main-content-maxwidth: 40rem;
	}
}


*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%;
	// overflow: hidden;
	@include breakpoint(tablet) {
		overflow: hidden;
	}
}

body {
	box-sizing: border-box;
	font-family: $font;
	background-color: #F9F9F9;
	height: 100vh;
	position: relative;

	@include breakpoint(tablet) {
		overflow: hidden;
	}
}



