// Font
$font: "Lato";

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-green: #00cede;
$color-grey: #79869F;
$color-grey-dark: #333333;
$color-blue: #1b507e;
$color-blue-2: #0A2B43;
$color-blue-dark: #002444;
$color-input-border: #CEF9FC;
$color-input-border-focus: #FFB669;
