.navbar {
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--main-content-padding-horizontal);
    padding-right: calc(var(--main-content-padding-horizontal) + 1.5rem);


    &__rightbox {
        display: flex;
        height: 5.5rem;

        &>*:not(:last-child) {
            margin-right: 1.7rem;
        }

        .logout-button {
            height: 100%;

            svg {
                height: 100%;
            }
        }

        .notification-box {
            height: 100%;
            position: relative;

            svg {
                height: 100%;
            }

            &-counter {
                --size: 2.6rem;
                position: absolute;
                top: -40%;
                right: 10%;
                transform: translate(50%, 50%);
                height: var(--size);
                width: var(--size);
                background-color: $color-green;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 1px 9px 9.5px rgb(43 152 214 / 26%);

                h3 {
                    font-size: 10px;
                }
            }
        }
    }
}