.navigation__content {
    &-buttonbox {
        position: relative;
        z-index: 5;
        display: none;
        margin-right: 0 !important;

        @include breakpoint(tablet) {
            display: unset;
        }

        .background {
            --size: 3rem;
            height: var(--size);
            width: var(--size);
            background-color: $color-black;
            position: absolute;
            z-index: -1;
            // top: 50%;
            // left: 50%;
            transform: translate(34%, -134%);
            // transform: scale(100);
            border-radius: 50%;
            transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);

        } 

        &-open {

            .background {
                transform: translate(40%, -110%) scale(100);
            }
        }

        
    }

    &-button {
        --size: 5.6rem;
        height: var(--size);
        width: var(--size);
        background-color: red;
        border-radius: 50%;
        background-color: #cffcff;
        position: relative;
        

        @include breakpoint(tablet-sm) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .line {
            height: 2px;
            width: 20px;
            background-color: #060c3a;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 1000px;

            &::before,
            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background-color: #060c3a;
                border-radius: 1000px;
                left: 0;
                transition: transform .3s;
            }

            --offset: -6px;
            &::before {
                top: var(--offset);
                // transform: rotate(135deg);
            }
            &::after {
                bottom: var(--offset);
                // transform: rotate(-135deg);
            }
        }

        &-open {
            .line {
                background-color: transparent;

                &::before {
                    top: 0;
                    transform: rotate(135deg);
                }
                &::after {
                    bottom: 0;
                    transform: rotate(-135deg);
                }
            }
        }
    }

    
}

.mobile-navigation-list {
    position: fixed;
    top: 35%;
    left: 0;
    // transform: translateY(-50%);
    height: 30rem;
    width: 100%;
    // background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translate(-100%, -50%);
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 6;

    a {
        display: block;
        width: max-content;
        text-align: center;
        padding: 2rem;

        &:hover {
            color: $color-green;
        }
    }

    &-open {
        transform: translate(0, -50%) !important;
    }
}

.nav-open {
    height: 100vh;
    overflow: hidden !important;
}