.mobile-history {
	.top-line {
		display: block;
		height: 1px;
		width: 90%;
		border-radius: 1000px;
		margin: 0 auto;
		margin-bottom: 2rem;
		background-color: #ececec;
	}

	&-body {
		background-color: $color-white;
		border-radius: 2rem;
		padding: 0.5rem;
		padding-right: 2.2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;

		.left {
			display: flex;
			align-items: center;

			.icon-box {
				margin-right: 0.9rem;

				img {
					height: 5rem;
					width: 5rem;
					border-radius: 1.6rem;
				}
			}

			.text-box {
				& > :nth-child(1) {
					margin-bottom: 0.2rem;
				}
			}
		}
	}

	&-detailbox {
		.popup-content {
			width: 34.5rem;
			height: 69.6rem;
			top: 11rem;
			padding: 1.8rem 2.2rem;

			.top-indicator {
				display: flex;
				align-items: center;
				margin-bottom: 1.7rem;

				img {
					margin-right: 0.7rem;
				}
			}
			.image-box,
			.amount-box,
			.feedback-message,
			.rejection-images-box,
			.failed-amount-box {
				padding-left: 1.5rem;
			}

			.image-box {
				margin-bottom: 2.3rem;

				& > *:not(:last-child) {
					margin-right: 0.5rem;
				}
			}

			.amount-box {
				margin-bottom: 3.8rem;

				.text-amount {
					color: #4faea8 !important;
				}
			}

			.failed-amount-box {
				margin-bottom: 1.9rem;
			}

			.rejection-reason-box {
				@include commentsBox;
				width: 100%;
				height: 11rem;
				margin-bottom: 1.2rem;
			}

			.rejection-images-box {
				margin-bottom: 1.2rem;

				h3 {
					margin-bottom: 0.5rem;
				}
				img {
					margin-right: 0.5rem;
				}
			}

			.comment-box {
				width: 100%;
				height: 6rem;
				margin-bottom: 2rem;
				@include commentsBox;
			}

			.optional-comment-box {
				width: 100%;
				height: 6.2rem;
				@include commentsBox;
				margin-bottom: 2rem;
			}

			.feedback-message {
				color: #4faea8;
				margin-bottom: 12.5rem;
			}

			.info-card {
				height: 8rem;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1.5rem 2.7rem 1.5rem 1.3rem;
				border-radius: 1.6rem;
				background-color: #f2f2f2;
				margin-bottom: 2rem;

				.icon-box {
					// margin-right: ;
				}
				.text-box {
					text-align: right;

					&-date {
						display: flex;
						// align-items: center;
					}
				}
			}

			.transaction-id {
				display: flex;
				justify-content: center;

				button {
					margin-left: 1rem;
				}
			}
		}
	}
}
