.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    padding-bottom: 100px;
    overflow-y: scroll !important;
    
    @include breakpoint(tablet) {
    }


    .scroll-container {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        
        @include breakpoint(tablet) {
            // margin-bottom: 15%;
            height: max(100vh, 85rem);
            // margin-bottom: unset;
        }
        @media only screen and (max-height: 680px) {
            margin-bottom: 15%;
        }
        
        .popup-content {
            background-color: white;
            border-radius: 2.7rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 1000px !important;

            .cancel-button {
                position: absolute;
                top: 1.8rem;
                right: 2rem;
            }
        }
    }
}
