.settings__body{
    &-option {
        display: flex;
        width: 72%;
        height: 6.1rem;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.9rem;
        border-radius: 2rem;
        border: 1px solid #F1F1F1;

        @include breakpoint(tablet) {
            width: 100%;
        }

    }


    .change-password {

        .popup-content {
            @include settingsPopupBaseStyles;
            padding: 9.2rem 5.3rem 7.9rem 5.3rem;

            @include breakpoint(tablet) {
                padding: 15.1rem 1.3rem 16.1rem 1.3rem;
            }

            form {
                --width: 82%;
                width: var(--width);

                @include breakpoint(tablet) {
                    --width: 100%;
                }

                label {
                    width: 100%;

                    input {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }

                button {
                    margin-top: .5rem;
                }
            }
        }
    }

    .edit-profile {
        
        .popup-content {
            @include settingsPopupBaseStyles;
            padding: 9.2rem 5.3rem 7.9rem 5.3rem;

            @include breakpoint(tablet) {
                padding: 13.9rem 1.9rem 4rem 1.9rem;
            }

            form {
                width: 100%;
                --width: 82%;
                // width: var(--width);

                @include breakpoint(tablet) {
                    --width: 100%;
                }

                input {
                    display: block;
                    margin-bottom: 1rem;
                    width: var(--width);
                }

                .form-bottom {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include breakpoint(tablet) {
                        flex-direction: column;

                    }

                    button {
                        margin-top: .5rem;

                        @include breakpoint(tablet) {
                            margin-bottom: 9.7rem;
                            align-self: flex-start;
                        }
                    }

                    h1 {
                        @include breakpoint(tablet) {
                            align-self: flex-end;
                        }
                    }

                }
            }
        }
    }

    .chat-with-us {
        .popup-content {
            @include settingsPopupBaseStyles;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 3.6rem;

            @media only screen and (max-width: 350px) {
                padding: 0 2.6rem;
            }

            &>*:not(:last-child) {
                margin-bottom: 1rem;
            }

            --width: 27.1rem;

            .socialmedia-link {
                height: 6.1rem;
                width: var(--width);
                border-radius: 20px;
                display: flex;
                align-items: center;
                padding: 0 2.4rem;

                @media only screen and (max-width: 350px) {
                    width: 100%;
                }
            }
            .facebook {
                background-color: #2A679E;
            }
            .instagram {
                background-color: #1E1E1E;
            }
            .twitter {
                background-color: #69C2E8;
            }
            .horizontal-line {
                display: inline-block;
                height: 1px;
                width: var(--width);
                background-color: #ECECEC;
                margin-top: .7rem;
                margin-bottom: 1.7rem;
            }
            .whatsapp {
                background-color: #03D07D;
            }
            .mobile {
                background-color: #002444;
            }
        }
    }

    .set-pin {
        .popup-content {
            @include settingsPopupBaseStyles;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            padding: 0 5.3rem;

            @include breakpoint(tablet) {
                padding: 0 1.7rem;
            }

            form {
                width: 82%;
                // background-color: red;

                @include breakpoint(tablet) {
                    width: 100%;
                }

                label {
                    width: 100%;

                    input {
                        width: 100%;
                        margin-bottom: 1rem;
                    }
                }

                button {
                    margin-top: .5rem;

                    @include breakpoint(tablet) {
                        margin-top: 5rem;
                    }
                }
            }
        }
    }
}