.dashboard {
    @include contentBaseStyles;
    

    &__top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 1330px) {
            .text-heading {
                font-size: 25px;
            }
        }

        @include breakpoint(tablet) {
            .text-heading {
                align-self: flex-end;
                margin-bottom: 1rem;
                padding-top: 1rem;
            }
        }

        @include breakpoint(tablet) {
            flex-direction: column;
        }

        
    }
}