.reset-password {

	&-content {
		padding-top: 6rem;

		&-right {
            
			.formbox {


				form {
                    width: 100%;
                    // background-color: red;

					& > :nth-child(1) {
						margin-bottom: 10rem;

                        @include breakpoint(tablet) {
                            margin-bottom: 6rem;
                        }
					}

					button {
                        margin-left: auto;
                    }
				}
			}

			.enter-email {
				margin-top: 3.5rem;
				text-align: right;
                margin-right: 1rem;
                margin-left: auto;
                
				@include breakpoint(tablet) {
                    width: 75%;
					text-align: left;
                    margin: 0 auto;
                    margin-top: 4.3rem;
				}
			}
		}
	}
}
