.signup {

	&-content {
		padding-top: 4rem;


		&-right {
            
			.formbox {
            

                @include breakpoint(tablet) {
                    width: 100%;
                }

				form {
                    width: 100%;
                    // background-color: red;

					input, label {
						margin-bottom: 1rem;
					}
                    label {
                        input {
                            // margin-bottom: ;
                        }
                    }

					.button-box {
						justify-content: space-between;
						margin-top: 3.4rem;

						@include breakpoint(tablet) {
                            margin-top: .5rem;
							flex-direction: column-reverse;

                            button {
                                align-self: flex-start;
                            }
                            .sign-in-text {
                                align-self: flex-start;
                                padding-left: 3rem;
                                margin-bottom: 7.6rem;
                            }
						}
					}
				}
			}

			.need-help {
				margin-top: 3.5rem;
				margin-right: 10rem;
				text-align: right;

				@include breakpoint(tablet) {
					text-align: center;
					margin-right: 0;
				}
			}
		}
	}
}
