.transactions {
    @include contentBaseStyles;

    &__top {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;


        @include breakpoint(tablet) {
            flex-direction: column;
        }

    }

    &__bottom {

        
    }
}