.transactions {
    @include contentBaseStyles;

    &__top {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.8rem;


        .heading-box {
            text-align: right;
        }

        .cards-box {
            display: flex;

            &>*:not(:last-child) {
                margin-right: 1.5rem;
            }

            .card {
                width: 24.6rem;
                height: 12.9rem;
                background-color: $color-white;
                border-radius: var(--border-radius);
                padding: 3rem;
                display: flex;
                justify-content: space-between;

                .left {
                    
                    .icon {
                        margin-bottom: .9rem;
                    }
                }
            }
        }
    }

    &__bottom {

        .pagination-box {
            margin-top: 2rem;
            // background-color: red;
            margin-left: auto;
            width: 13.3rem;
            margin-right: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .number-box {
                
                &>:not(:last-child) {
                    margin-right: .19rem;
                }

                button {
                    --size: 2.3rem;
                    --color: #9BABC5;
                    height: var(--size);
                    width: var(--size);
                    border-radius: 6px;
                    border-radius: 1px solid var(--color);
                    color: var(--color);
                }
            }
        }
    }
}