.wallet {
    @include contentBaseStyles;

    &__top {
        // display: flex;
        // flex-direction: row-reverse;
        // justify-content: space-between;
        // align-items: center;
        // margin-bottom: 2.4rem;
        // .pageheading-box {
        //     @include breakpoint(desktop) {
        //         display: none;
        //     }
        // }

        &-base {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // .pageheading-box {
            //     @include breakpoint(tablet) {
            //         display: none;
            //     }
            // }
        }
    }

    .history-bottom {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        @include breakpoint(tablet) {
            flex-direction: column-reverse;
            margin-top: 1.9rem;
        }

        .pagination-box {
            @include breakpoint(tablet) {
                margin-bottom: 1.5rem;
            }
        }

        .account-details-button {
            width: 60rem;
            height: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $color-white;
            border-radius: 2rem;
            padding: 0 3rem;

            @include breakpoint(tablet) {
                width: 100%;
            }
        }
    }
}